*,*:before,*:after{
    box-sizing:border-box;
}

body {
    max-width: 1200px;
    margin: 18px auto;
    padding: 0 18px;
}

.demo-block {
    background: red;
    padding: 18px;
    color: white;
}

